html, body {
  height: 100%;
  width: 100%;
}
/* Example of a CSS rule that changes the text color of an h3 tag */
h3{
  color:blue;
}

/* Place your work for Part 2 in the space below*/
p {
  color: red;
}
body {
  background-color:#f5d6db;
}
img {
  width: 500px;
}
h1 {
  width:200px;
  border-style: double solid;
border-width:8px 6px;
  border-radius:40px
}
.love {
  width:500px;
  background-color: #adadff;
  font-family: "Lucida Console", "Courier New", monospace;
}
.hate {
  width:370px;
  background-color:skyblue;
  font-family: Arial, Helvetica, sans-serif;
}
